<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2>
    Enter info
</h2>
<br>
<form th:action="@{/newUser}" method="POST" th:object="${myUser}">
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="password">Enter passoword</label>
    <input type="text" th:field="*{password}" id="password"/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <input type="submit" value="Зарегистрировать">
</form>

</body>
</html>